    .body {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }

    .header-menu, .footer-main {
    display: flex;
    align-items: center;
    width: 100%;
    background: #272121;
    }

    .header-menu {
    justify-content: flex-start;
    height: 60px;
    color: #fff;
    border-bottom: 3px solid #13beff;
    margin-bottom: 10px;
    }

    h2 {
    margin: 0 0 8px;
    }

    ul {
      padding-inline-start: 0;
    }

    ul li {
    padding: 0 10px;
    list-style: none;
    }

    ul li button {
      width: -webkit-fill-available;
      background-color: #f9f9f9;
      border: none;
      padding: 4px 10px;
      margin: 1px 0;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      outline: none;
    }

    ul li button:hover {
      background-color: #fff;
    }

    .leftSide, .rightSide {
      flex: 0.1;
      background-color: #f9f9f9;
    }

    .menu-container {
      flex: 0.25;
      padding-left: 15px;
      border-left: 1px solid #717171;
    }

    section {
    flex: 1;
    padding-right: 15px;
    }

   hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;
      border-color:  #e6e6e6;
    }

    .footer-main {
    padding: 0 10px;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-top: 2px solid #13beff;
    height: -webkit-fill-available;
    }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  section {
    padding-left: 5px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  section {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .leftSide, .rightSide {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  section {
    padding-left: 15px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .leftSide, .rightSide {
    flex: 0.2;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .leftSide, .rightSide {
  flex: 0.3;
  }
}
