.example {
  display: flex;
  flex-direction: column;
}

.displayDefinition span {
  margin-right: 5px;
  color: black;
}

.displayDefinition td {
  vertical-align: baseline;
}

.code {
  margin: 20px 10px;
  background-color: #282d35;
}

.code img {
  max-width: 75%;
}
